@media all and (-ms-high-contrast: none),
                           (-ms-high-contrast: active) {
html
{
    display: flex;
    flex-direction: column;
}}
body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	background-color: #f8f8fa;
}
footer
{
    margin-top: auto;
}

a
{
    color: #000
}
a:hover
{
    color: #404040; /* lighten 25% */
    text-decoration: none;
}

.breadcrumb
{
	background-color: unset;
}

.card,
.card-img,
.card-img-top
{
	border-radius: 0;
}

/*@media (min-width: 576px)*/
@media (min-width: 320px)
{
.card-columns
{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}}
@media (min-width: 768px)
{
.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}}
@media (min-width: 992px)
{
.card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}}

.pagination .page-link
{
	border-radius: 0 !important;
	color: #000;
	white-space: nowrap;
}
.pagination-responsive .page-link
{
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
}
@media (min-width: 576px)
{
.pagination-responsive .page-link
{
	padding: 0.5rem 0.75rem;
	font-size: inherit;
	line-height: 1.25;
}}

@media (min-width: 992px)
{
.pagination-responsive .page-link
{
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5;
}}

.btn-google
{
	color: #fff;
	background-color: #d73d32;
	border-color: #be2419;
}
.btn-facebook
{
	color: #fff;
	background-color: #3b5998;
	border-color: #22407f;
}

/* Main */

.links-default
{
    background-color: #efece6;
}
@media (max-width: 767px)
{
.links-content
{
    display: none;
}}

.wrapper-default
{
	flex: 1;
    background-color: #f8f8fa;
}

.navbar
{
	background-color: #fff;
}

.navbar-menu
{
	flex-direction: row;
}

.navbar-search,
.navbar-search > .input-group
{
    width: 100%;
}

.navbar-splitted
{
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase;
	border-bottom: 1px solid #e7e7e7;
}
.navbar-splitted > .navbar-brand
{
	margin-right: 0;
	padding-right: 1rem;
	border-right: 1px solid #e7e7e7;
}

.navbar-splitted .form-inline
{
	border-left: 1px solid #e7e7e7;
}
.navbar-splitted .form-control
{
	border: none;
	box-shadow: none;
	text-transform: none;
}
.navbar-splitted .form-control::-webkit-input-placeholder
{
	text-transform: uppercase;
}
.navbar-splitted .form-control::-moz-placeholder
{
	text-transform: uppercase;
}
.navbar-splitted .form-control:-ms-input-placeholder
{
	text-transform: uppercase;
}
.navbar-splitted .form-control::-ms-input-placeholder
{
	text-transform: uppercase;
}
.navbar-splitted .form-control::placeholder
{
	text-transform: uppercase;
}

.navbar-splitted .btn
{
	background-color: #fff;
	box-shadow: none;
}
.navbar-splitted .nav-link
{
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	border-left: 1px solid #e7e7e7;
}

.navbar-splitted .navbar-menu .nav-link
{
	border-left: none;
}
.navbar-splitted .navbar-menu .nav-link + .nav-link
{
	padding-left: 0 !important;
}
@media (max-width: 350px)
{
	.navbar-splitted .navbar-menu .nav-link
	{
		padding-left: .5rem !important;
		padding-right: .5rem !important;
		font-size: 50%;
	}
}
@media (max-width: 400px)
{
	.navbar-splitted .navbar-menu .nav-link
	{
		font-size: 70%;
	}
}

.navbar-splitted .active,
.navbar-splitted .upload
{
	color: #0097db !important;
}

.categories
{
    background-color: #d3d6db;
}
.categories a.active
{
    color: #f36d5d;
}

.footer
{
    background-color: #404040;
	padding: 2rem 0;
}
.footer a
 {
	 color: gray;
 }
.footer a:hover
{
    color: lightgrey;
}
.footer a + a
{
	margin-left: 1rem;
}

.landing
{
	background-position-x: 50%;
    background-size: cover;
}
.landing.livrozilla
{
    background: url(/theme/issuu2/static/pictures/brazil.jpg) no-repeat;
}
.landing.diazilla
{
    background: url(/theme/issuu2/static/pictures/italy.jpg) no-repeat;
}
.landing.pptde
{
    background: url(/theme/issuu2/static/pictures/germany.jpg) no-repeat;
}
.landing.slideshowes
{
    background: url(/theme/issuu2/static/pictures/spain.jpg) no-repeat;
}
.landing h1
{
	margin-top: 3.5rem;
    margin-bottom: 3.5rem;
	color: white;
	line-height: 1.3;
}
.landing .upload
{
    float: right;
	margin-top: 8rem;
}
.landing .btn
{
    background-color: #efece6;
    color: #f36d5d;
    font-weight: bold;
}

.thumbnail
{
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    margin-right: 2px;
    border: none;
}
.thumbnail .card-preview
{
    position: relative;
    text-align: center;
}
.thumbnail .card-img-top
{
    max-width: 100%;
    height: auto;
}
.thumbnail .card-img-overlay
{
    padding: 0;
}
.thumbnail .card-img-overlay:hover
{
    background: rgba(255,255,255,.8)
        url(view.png) center no-repeat;
}
.thumbnail .card-title
{
    font-size: 1rem;
}
.thumbnail .card-text
{
    font-size: .75rem;
}
.thumbnail .card-text > a
{
    color: #a49f96;
}

.flashcard
{}
.flashcard .card-title
{
	font-size: 1rem;
}
.flashcard .card-text
{
	font-size: .75rem;
}
.flashcard .card-text > img
{
	vertical-align: sub;
}
.flashcard .card-text > span
{
	color: gray;
	margin: 0 .25rem;
}

.main-landing
{
	border: none;
}
.main-landing .card-img
{
	background-image: url("/theme/issuu2/static/pictures/studylib.jpg");
	background-position: 50% 0;
	background-size: cover;
	height: 533px;
}
.main-landing .search
{
	right: auto;
	bottom: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main-landing form
{
	width: 60vw;
}
.main-landing label
{
	width: 100%;
	text-align: center;
	color: #fff;
}
@media (min-width: 576px)
{
.main-landing form
{
	width: calc(540px - 2rem);
}
.main-landing label
{
	font-size: 120%;
}
.main-landing .stats span
{
	padding: 0 2rem !important;
	font-size: 70% !important;;
}}
@media (min-width: 768px)
{
.main-landing form
{
	width: calc(720px - 20vw);
}
.main-landing label
{
	font-size: 150%;
}
.main-landing .stats span
 {
	 padding: 0 3rem !important;
	font-size: 80% !important;
 }}
@media (min-width: 992px)
{
.main-landing form
{
	width: calc(960px - 30vw);
}
.main-landing label
{
	font-size: 200%;
}
.main-landing .stats span
{
	padding: 0 4rem !important;
	font-size: 90% !important;
}}
@media (min-width: 1200px)
{
.main-landing form
{
	width: calc(1140px - 20vw);
}
.main-landing label
{
	font-size: 200%;
}
.main-landing .stats span
{
	padding: 0 5rem !important;
	font-size: 100% !important;
}}
.main-landing label > span,
.main-landing .fa
{
	color: #0097db;
}
.main-landing .stats
{
	top: auto;
	color: #fff;
	background-color: #000;
	opacity: .5;
	padding: 1rem;
	font-size: 1.25rem;
	line-height: 1.2;
}
.main-landing .stats span
{
	padding: 0 1rem;
	font-size: 60%;
	text-align: center;
	white-space: nowrap;
}

.main-heading
{
    text-align: center;
}
.main-heading > h2
{
    color: #21505c;
}
.main-heading > p
{
    color: #929191;
}

.main-favorites .card-wrapper
{
	position: relative;
	max-height: 200vh;
	overflow: hidden;
}
.main-favorites .card-wrapper:after
{
	position: absolute;
	content: '';
	bottom: 0;
	width: 100%;
	height: 2rem;
	background: linear-gradient(
			rgba(0,0,0,0), #f8f8fa) 0 100%;
}

.main-flashcards
{
    background-color: #fff;
}

.catalog
{
    padding-top: 1.5rem;
}
.catalog .breadcrumb
{
    font-size: 1.5rem;
    margin-bottom: 0;
}

.viewer-wrapper
{
    background: #474747
        url(/viewer_next/web/images/texture.png);
}
.viewer-wrapper.bg-inherit
{
    background: inherit;
}

.viewer-next
{
    position: relative;
    z-index: 1;
    float: left;
    width: 100%;
    height: 80vh;
}
.viewer-next.bordered
{
    border: 1px solid #333333;
    /*border-bottom: 0;*/
}

.viewer-text
{
    color: #efece6;
}

.viewer-info
{
    background-color: #efece6;
}
.viewer-info .addthis
{
    float: right;
    margin-top: .5rem;
}
.viewer-info .download
{
    float: right;
    margin-top: .75rem;
    color: #fff;
    background-color: #d9534f;
}
.viewer-info .breadcrumb
{
    margin-bottom: 0;
}
.viewer-info .breadcrumb li
{
    color: rgba(135, 132, 125, .55);
}
.viewer-info .breadcrumb li > a
{
    font-size: 1.125rem;
    color: inherit;
}
.viewer-info .breadcrumb > li + li::before
{
    content: ">";
}
.viewer-info .title
{
    font-size: 1.875rem;
}
.viewer-info .tags
{
    padding: .5rem 0 .75rem;
}
.viewer-info .tags .nav-link
{
    margin: 0 .25rem
}

.viewer-similar
{
    margin-top: 1rem;
}

.download h4
{
    margin-top: .75rem;
    margin-bottom: 1.5rem;
}
.download .recaptcha,
.download .formats
{
    margin-bottom: 1rem;
    padding: .9375rem;
    color: #9aa8a9;
    background-color: #404040;
}
.download .formats a:first-of-type
{
    margin-left: 0;
}
.download .formats a:last-of-type
{
    margin-right: 0;
}
.download .format
{
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
    padding: 30px 0;
    background-color: #f36d5d;
}
@media (min-width: 544px)
{
	.download .format
	{
	    margin-right: .5rem;
	    margin-left: .5rem;
	    margin-bottom: 0;
	}
}

.download .disabled
{
    opacity: .5;
    cursor: not-allowed;
}
.download .disabled a
{
    pointer-events: none;
}

.upload
{
    position: relative;
    overflow: hidden;
}
.upload input
{
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.upload-info
{
    display: none;
    padding-top: 1rem;
}
.upload-info .progress
{
    width: 95%;
}
.upload-info .close
{
    margin-top: -3px;
}

.upload-area
{
    border: 5px dashed #f36d5d;
}

.social-providers
{
    margin-left: -8px;
    margin-top: 19px;
}

.viewerX > .container,
.container-wide
{
	max-width: 1367px !important;
}
@media (max-width: 1366px)
{
	.viewerX > .container,
	.container-wide
	{
		max-width: 100% !important;
	}
}

.viewerX-header h1
{
	font-size: 1.5rem;
}
.viewerX-header .breadcrumb
{
	font-size: .875rem;
}

.viewerX-iframe
{
	width: 100%;
	height: 70vh;
}

.viewerX-flashcard
{
	background-color: #f8f8fa;
}

.above-content > span,
.below-content > span,
.sidebar-top-content > span,
.sidebar-bottom-content > span
{
	position: relative;
	display: block;
	color: grey;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
}
.above-content > ins,
.above-content > div > ins,
.below-content > ins,
.below-content > div > ins
{
	height: 120px;
	max-height: 120px;

}
@media (max-width: 567px)
{
	.above-content > ins,
	.above-content > div > ins,
	.below-content > ins,
	.below-content > div > ins
	{
		height: initial;
		max-height: initial;
	}
}

.stepper
{
	display: flex;
	height: 100px;
	padding: 0;
	border-bottom: 5px solid #0097db;
	list-style: none;
}
.stepper > .stepper-item
{
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: center;
}
.stepper > .stepper-item:before
{
	position: absolute;
	display: block;
	top: 48px;
	left: 50%;
	width: 100%;
	height: 2px;
	background: #0097db;
}
.stepper > .stepper-item.active:before,
.stepper > .stepper-item.active ~ .stepper-item:before
{
	background: #929191;
}
.stepper > .stepper-item:not(:last-child):before
{
	content: '';
}
.stepper > .stepper-item > .stepper-link
{
	position: relative;
	color: #929191;
	font-size: .875rem;
}
.stepper > .stepper-item > .stepper-link:after
{
	position: absolute;
	display: inline-block;
	top: 30px;
	left: calc(50% - 14px);
	width: 28px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 32px;
	content: "\f05d";
	color: #0097db;
	background-color: white;
}
.stepper > .stepper-item.active > .stepper-link:after,
.stepper > .stepper-item.active ~ .stepper-item > .stepper-link:after
{
	content: "\f192";
}
.stepper > .stepper-item.active ~ .stepper-item > .stepper-link:after
{
	color: #929191;
}
.stepper > .stepper-item > .stepper-indicator
{
	position: absolute;
	display: none;
	bottom: 0;
	left: calc(50% - 5px);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #0097db;
}
.stepper > .stepper-item.active > .stepper-indicator
{
	display: block;
}

.stepper-inner
{
	position: relative;
	border: 1px solid #929191;
	border-top: none;
}
.stepper-inner > *
{
	display: none;
}
.stepper-inner > .active
{
	display: block;
}
.stepper-inner .vertical-gutter
{
	margin-bottom: 1rem;
}
.stepper-inner .upload-zone
{
	border: 2px dashed #0097db;
}
.stepper-inner .upload-zone.active
{
	border-color: #ff6824;
}
.stepper-inner .upload-file
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.stepper-inner .upload-progress,
.stepper-inner .upload-status
{
	display: none;
	width: 100%;
	margin-bottom: 0;
}

.stepper-inner .analyze-spinner
{
	position: relative;
	font-size: 200px;
	color: #0097db;
	line-height: 1px;
}
.stepper-inner .analyze-spinner > :first-child
{
	-webkit-text-stroke: 12.5px #fff;
}
@media (max-width: 575.98px)
{
.stepper-inner .analyze-spinner
{
	font-size: 100px;
}
.stepper-inner .analyze-spinner > :first-child
{
	-webkit-text-stroke: 6px #fff;
}}
.stepper-inner #analyze-progress
{
	position: absolute;
	display: block;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
}
.stepper-inner .analyze-card
{
	height: 100%;
	padding: 1rem .5rem 0;
	background-color: #f8f8fa;
}
.stepper-inner .analyze-card > *
{
	margin-bottom: 1rem;
}

.stepper-inner .details-form label
{
	font-weight: 500;
}
.stepper-inner .details-form .row > label
{
	font-weight: bold;
}
.stepper-inner #details-category button
{
	margin-bottom: .5rem;
}
.stepper-inner #details-category + small
{
	margin-top: -.5rem;
}
