.playerBox {
    border: 2px solid;
    height: 400px;
    display: flex;
}

#welcome {
    margin:auto;
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
}

#gameChat {
    border: 2px solid;
    height: 150px;
    padding: 0px 20px 20px 20px;
    overflow: auto;
}

#welcomeButtons {
    display:flex;
}

#welcomeInputs {
    display:flex;
}

#registerBtn {
    display: block;
    margin: auto;
}

#logoutBtn {
    margin: 0 auto 0 auto;
}

#usernameUpdate {
    width: 50%;
}

.sitBtn {
    height: 75px;
    margin-top: 5px;
}

.rpsBox {
    display: flex;
    height:305px;
    width:100px;
}

.playerName {
    margin: 0 auto 0 auto;
}

.chatDiv {
    float: left;
    vertical-align: bottom;
}

#chatInputBox {
    position: absolute;
    bottom: 2px;
}